@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");
@import "tailwindcss";

@theme {
  --font-Outfit: "Outfit", sans-serif;
  --font-Prata: "Prata", serif;
}

@layer base {
  body {
    font-family: "Outfit", sans-serif;
  }
}
